/*
    Theme colors
*/
.wy-nav-side {
    background: #2d3a48;
}
.wy-side-nav-search {
    background: #181f27;
}
.wy-menu-vertical a:hover {
    background-color: #475260;
}
.wy-menu-vertical p.caption {
    color: #9e9e9e;
}
.rst-content code {
    border-radius: 3px;
}
.rst-content code.literal {
    color: black;
}
.rst-content dl:not(.docutils) code {
    font-weight: normal;
}
.rst-content a code.literal {
    font-weight: normal;
    color: #2980B9;
}
.rst-content a:hover code.literal {
    color: #3091d1;
}

/*
    protobuf reference docs
*/
.rst-content dl:not(.docutils) code.descname {
    padding-right: 4px;
}

.rst-content dl:not(.docutils) .property {
    padding-left: 4px;
    padding-right: 4px;
}

.rst-content dl:not(.docutils) code.descclassname {
    padding-left: 4px;
}

/*
    Bootstrap page
*/
label {
    display: inline;
}
.bootstrap pre {
    font-size: 12px;
    line-height: 1.4;
    background: #f8f8f8;
    padding: 12px;
    border: 1px solid #e1e4e5;
}
.bootstrap h3 {
    margin-top: 20px;
}
.bootstrap-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 3px;
    padding-bottom: 3px;
}
.bootstrap-key {
    width: 200px;
    text-align: right;
    padding-right: 12px;
}
.bootstrap-value {
    flex: 1;
    display: flex;
    align-items: center;
}
.bootstrap-value select {
    flex: 1;
}
.bootstrap-value button {
    margin-left: 6px;
}
.bootstrap-wire {
    display: flex;
    flex-direction: column;
}
.bootstrap-wire-value {
    font-size: 70%;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: indigo;
    width: 100%;
}
.bootstrap-wire-inputs {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}
.bootstrap-wire-name {
    flex: 2;
}
.bootstrap-wire-inputs select {
    flex: 1;
    margin-left: 6px;
}

/*
    Code examples in the note/test directives
*/
div.admonition div.highlight-console {
    margin-bottom: 0;
}
